<div class="navbar-header">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/GoogleDev.Club.png" />
        </div>
        <div class="col-md-6">
            <ul class="navbar navbar-collapse list-unstyled">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Articles", "Index", "Articles")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>